.step-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 2000px;
  }
  
  .step-number {
    background-color: FCF5E5;
    color: black;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
  }
  
  .step-content {
    background-color: #ffffff;
    padding: 10px 15px;
    flex-grow: 1;
  }
  