.timeline {
  position: relative;
  margin: 50px 0;
  padding: 0;
  list-style: none;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 2px;
  background: black
}

.timelineItem {
  position: relative;
  margin-bottom: 50px;
}

.timelinePoint {
  position: absolute;
  left: 16px;
  width: 10px;
  height: 10px;
  background: #FCF5E5;
  border: 2px solid black;
}

.timelineContent {
  margin-left: 40px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
}

.timelineContent:hover {
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

.timelineContent h3 {
  margin-top: 0;
  font-weight: bold;
}

.hiddenLink {
  display: none;
}

.responsiveImage {
  width: 50%;
  height: auto;
}
