body {
  background-color: #FCF5E5;
}

.app {
  font-family: 'Courier New', Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FCF5E5;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #FCF5E5;
  padding: 10px 0;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: gray;
}